{% extends 'base.html' %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block content %}
    <p class="h1 text-center">
        Список продуктов, которые заказал клиент {{ client_id }} за {{ h1|capfirst }} дней
    </p>
    <div class="table-all-client-orders">
        <table class="table table-dark table-hover">
            <thead class="table-secondary">
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">Product price</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}">Назад</a>
    </div>
{% endblock %}