{% extends 'base.html' %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block content %}
    <p class="h1 text-center">
        {{ h1|capfirst }}
    </p>
    <div class="table-all-clients">
        <table class="table table-dark table-hover">
            <thead class="table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Orders</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <th scope="row">{{ client.id }}</th>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td><a href="{% url 'client_orders' client.id 7 %}">Customer's orders {{ client.id }} in the last 7
                        days</a><br/>>
                        <a href="{% url 'client_orders' client.id 30 %}">Customer's orders {{ client.id }} in the last
                            30 days</a><br/>>
                        <a href="{% url 'client_orders' client.id 365 %}">Customer's orders {{ client.id }} in the last
                            365 days</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#    <div class="choice-form">#}
    {#        <p class="h3">#}
    {#            Для просмотра заказов по определенному клиенту выберите его номер из списка ниже:#}
    {#        </p>#}
    {#        <div class="input-group">#}
    {#            <form method="post" action="client-orders/">#}
    {#                {% csrf_token %}#}
    {#                <select class="form-select" id="inputGroupSelect04" aria-label="Выбор ID клиента">#}
    {#                    <option selected>Выберите ID клиента</option>#}
    {#                    {% for client in clients %}#}
    {#                        <option id="{{ client.id }}" name="client_id" value="{{ client.id }}">{{ client.id }}</option>#}
    {#                    {% endfor %}#}
    {#                </select>#}
    {#            <button class="btn btn-outline-secondary" type="button">Вперед</button>#}
    {#                <input id="clientIDBtn" type="submit" value="Вперед">#}
    {#            </form>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}
